In [29]:
#authentication
from azureml.core.authentication import InteractiveLoginAuthentication
from azureml.core import Workspace

ia = InteractiveLoginAuthentication(tenant_id='16b3c013-d300-468d-ac64-7eda0820b6d3')

# You can find tenant id under azure active directory->properties
ws = Workspace.get(name='Prod',
                     subscription_id='fe38c376-b42a-4741-9e7c-f5d7c31e5873',
                     resource_group='ProdRG',auth=ia)

## ** Create Tabular Dataset from WEB URL (CSV files) and Use Unregistered Dataset Directly in Training Script**

In [30]:
#creates an unregistered TabularDataset from a WEB URL.

from azureml.core.dataset import Dataset

web_path ='https://dprepdata.blob.core.windows.net/demo/Titanic.csv'
titanic_ds = Dataset.Tabular.from_delimited_files(path=web_path)
titanic_ds.take(3).to_pandas_dataframe()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S

In [31]:
#Set data schema
#when you create a TabularDataset, column data types are inferred automatically. 
#If the inferred types don't match your expectations, you can update your dataset schema by specifying column types 

from azureml.data.dataset_factory import DataType

titanic_ds = Dataset.Tabular.from_delimited_files(path=web_path, set_column_types={'Survived': DataType.to_bool()})

# preview the first 3 rows of titanic_ds
titanic_ds.take(3).to_pandas_dataframe()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S

In [ ]:
'''import os
# Create a folder for the script files
script_folder = 'workshop_examples'
os.makedirs(script_folder, exist_ok=True)

print(script_folder)'''

In [ ]:
'''
%%writefile $script_folder/train_titanic.py
#access data in training script

import argparse
from azureml.core import Dataset, Run

parser = argparse.ArgumentParser()
parser.add_argument("--input-data", type=str)
args = parser.parse_args()

run = Run.get_context()
ws = run.experiment.workspace

# get the input dataset by ID
dataset = Dataset.get_by_id(ws, id=args.input_data)

# load the TabularDataset to pandas DataFrame
df = dataset.to_pandas_dataframe()
'''

In [ ]:
'''
# define compute target, add the code
# define environment as myenv., add the code
from azureml.core import ScriptRunConfig

src = ScriptRunConfig(source_directory=script_folder,
                      script='train_titanic.py',
                      # pass dataset as an input with friendly name 'titanic'
                      arguments=['--input-data', titanic_ds.as_named_input('titanic')],# titanic_ds is given without registering as a dataset.
                      compute_target=compute_target,
                      environment=myenv)
                             
# Submit the run configuration for your training run
run = experiment.submit(src)
run.wait_for_completion(show_output=True)
'''

## Create Tabular Dataset from Datastore (PARQUET files) and Register

In [39]:
#creates an unregistered TabularDataset from a DATASTORE  + PARQUET 

from azureml.core import Workspace, Datastore, Dataset

datastore_name = ws.get_default_datastore()
weather_ds = 'weather-data-florida'

#load data to blob storage from local folder (weather-data) to be able to create a dataset
datastore_name.upload('weather_data', weather_ds, overwrite=True, show_progress=True)

datastore_path = [(datastore_name, weather_ds + '/*/*/data.parquet')]
dataset        = Dataset.Tabular.from_parquet_files(path=datastore_path, partition_format = weather_ds + '/{partition_time:yyyy/MM}/data.parquet')
# **** To read files in .csv or .tsv format, use  from_delimited_files() method. *****
#dataset= Dataset.Tabular.from_delimited_files(path=datastore_path)

Uploading an estimated of 12 files
Uploading weather_data/2019/01/.amlignore
Uploaded weather_data/2019/01/.amlignore, 1 files out of an estimated total of 12
Uploading weather_data/2019/01/.amlignore.amltmp
Uploaded weather_data/2019/01/.amlignore.amltmp, 2 files out of an estimated total of 12
Uploading weather_data/2019/01/data.parquet
Uploaded weather_data/2019/01/data.parquet, 3 files out of an estimated total of 12
Uploading weather_data/2019/02/data.parquet
Uploaded weather_data/2019/02/data.parquet, 4 files out of an estimated total of 12
Uploading weather_data/2019/03/data.parquet
Uploaded weather_data/2019/03/data.parquet, 5 files out of an estimated total of 12
Uploading weather_data/2019/04/data.parquet
Uploaded weather_data/2019/04/data.parquet, 6 files out of an estimated total of 12
Uploading weather_data/2019/05/data.parquet
Uploaded weather_data/2019/05/data.parquet, 7 files out of an estimated total of 12
Uploading weather_data/2019/06/data.parquet
Uploaded weather_data/2019/06/data.parquet, 8 files out of an estimated total of 12
Uploading weather_data/2019/07/data.parquet
Uploaded weather_data/2019/07/data.parquet, 9 files out of an estimated total of 12
Uploading weather_data/2019/08/data.parquet
Uploaded weather_data/2019/08/data.parquet, 10 files out of an estimated total of 12
Uploading weather_data/2019/09/data.parquet
Uploaded weather_data/2019/09/data.parquet, 11 files out of an estimated total of 12
Uploading weather_data/2019/10/data.parquet
Uploaded weather_data/2019/10/data.parquet, 12 files out of an estimated total of 12
Uploaded 12 files

In [33]:
dataset.to_pandas_dataframe().head()

,usaf,wban,datetime,latitude,longitude,elevation,windAngle,windSpeed,temperature,seaLvlPressure,...,precipDepth,snowDepth,stationName,countryOrRegion,p_k,year,day,version,__index_level_0__,partition_time
0,720735,73805,2019-01-01 00:00:00,30.349,-85.788,21.0,140.0,5.1,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390756,2019-01-01
1,720735,73805,2019-01-01 00:39:00,30.349,-85.788,21.0,150.0,5.7,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390757,2019-01-01
2,720735,73805,2019-01-01 00:53:00,30.349,-85.788,21.0,150.0,4.6,21.1,1019.5,...,0.0,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390758,2019-01-01
3,720735,73805,2019-01-01 01:01:00,30.349,-85.788,21.0,150.0,4.6,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390759,2019-01-01
4,720735,73805,2019-01-01 01:53:00,30.349,-85.788,21.0,140.0,4.1,21.1,1019.6,...,0.0,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390760,2019-01-01

### Wrangle Data: Tabular Datasets
* keep_columns()
* drop_columns()
* filter()

In [34]:
from datetime import datetime
tsd=dataset.filter(dataset['datetime']<datetime(2019,1,2))
#tsd = tsd.time_after(datetime(2019, 1, 1)).time_before(datetime(2019, 1, 10))
tsd.to_pandas_dataframe().head(5)

Method filter: This is an experimental method, and may change at any time. Please see https://aka.ms/azuremlexperimental for more information.

,usaf,wban,datetime,latitude,longitude,elevation,windAngle,windSpeed,temperature,seaLvlPressure,...,precipDepth,snowDepth,stationName,countryOrRegion,p_k,year,day,version,__index_level_0__,partition_time
0,720735,73805,2019-01-01 00:00:00,30.349,-85.788,21.0,140.0,5.1,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390756,2019-01-01
1,720735,73805,2019-01-01 00:39:00,30.349,-85.788,21.0,150.0,5.7,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390757,2019-01-01
2,720735,73805,2019-01-01 00:53:00,30.349,-85.788,21.0,150.0,4.6,21.1,1019.5,...,0.0,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390758,2019-01-01
3,720735,73805,2019-01-01 01:01:00,30.349,-85.788,21.0,150.0,4.6,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390759,2019-01-01
4,720735,73805,2019-01-01 01:53:00,30.349,-85.788,21.0,140.0,4.1,21.1,1019.6,...,0.0,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390760,2019-01-01

In [35]:
tsd2 = tsd.keep_columns(columns=['snowDepth', 'datetime', 'partition_time'], validate=False)
tsd2.to_pandas_dataframe().tail()

               datetime  snowDepth partition_time
154 2019-01-01 20:00:00        NaN     2019-01-01
155 2019-01-01 21:00:00        NaN     2019-01-01
156 2019-01-01 21:00:00        NaN     2019-01-01
157 2019-01-01 22:00:00        NaN     2019-01-01
158 2019-01-01 23:00:00        NaN     2019-01-01

In [36]:
tsd2 = tsd.drop_columns(columns=['wban', 'snowDepth'])
tsd2.take(5).to_pandas_dataframe()

,usaf,datetime,latitude,longitude,elevation,windAngle,windSpeed,temperature,seaLvlPressure,cloudCoverage,...,precipTime,precipDepth,stationName,countryOrRegion,p_k,year,day,version,__index_level_0__,partition_time
0,720735,2019-01-01 00:00:00,30.349,-85.788,21.0,140.0,5.1,21.1,NaN,None,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390756,2019-01-01
1,720735,2019-01-01 00:39:00,30.349,-85.788,21.0,150.0,5.7,21.1,NaN,None,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390757,2019-01-01
2,720735,2019-01-01 00:53:00,30.349,-85.788,21.0,150.0,4.6,21.1,1019.5,None,...,1.0,0.0,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390758,2019-01-01
3,720735,2019-01-01 01:01:00,30.349,-85.788,21.0,150.0,4.6,21.1,NaN,None,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390759,2019-01-01
4,720735,2019-01-01 01:53:00,30.349,-85.788,21.0,140.0,4.1,21.1,1019.6,None,...,1.0,0.0,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390760,2019-01-01

### Register Tabular Dataset

You can register a new dataset under the same name by creating a new version. A dataset version is a way to bookmark the state of your data so that you can apply a specific version of the dataset for experimentation or future reproduction.

In [44]:
#Assign "datetime" column as timestamp and "partition_time" from folder path as partition_timestamp 
# for Tabular Dataset to activate Time Series related APIs. The column to be assigned should be a Date type.
#dataset = dataset.with_timestamp_columns(timestamp='datetime', partition_timestamp='partition_time')

# register dataset to Workspace
registered_ds = dataset.register(workspace=ws, 
                            name=weather_ds, 
                            create_new_version=True, 
                            description='Data for Tabular Dataset- time-series.', 
                            tags={ 'type': 'TabularDataset' })

In [45]:
registered_ds.to_pandas_dataframe().head()

,usaf,wban,datetime,latitude,longitude,elevation,windAngle,windSpeed,temperature,seaLvlPressure,...,precipDepth,snowDepth,stationName,countryOrRegion,p_k,year,day,version,__index_level_0__,partition_time
0,720735,73805,2019-01-01 00:00:00,30.349,-85.788,21.0,140.0,5.1,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390756,2019-01-01
1,720735,73805,2019-01-01 00:39:00,30.349,-85.788,21.0,150.0,5.7,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390757,2019-01-01
2,720735,73805,2019-01-01 00:53:00,30.349,-85.788,21.0,150.0,4.6,21.1,1019.5,...,0.0,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390758,2019-01-01
3,720735,73805,2019-01-01 01:01:00,30.349,-85.788,21.0,150.0,4.6,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390759,2019-01-01
4,720735,73805,2019-01-01 01:53:00,30.349,-85.788,21.0,140.0,4.1,21.1,1019.6,...,0.0,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390760,2019-01-01

### Reload the Dataset from Workspace

In [46]:
# get dataset by dataset name
tsd = Dataset.get_by_name(ws, name=weather_ds)
#get_by_id() 

tsd.to_pandas_dataframe().head(5)
#returns the latest version of the dataset

,usaf,wban,datetime,latitude,longitude,elevation,windAngle,windSpeed,temperature,seaLvlPressure,...,precipDepth,snowDepth,stationName,countryOrRegion,p_k,year,day,version,__index_level_0__,partition_time
0,720735,73805,2019-01-01 00:00:00,30.349,-85.788,21.0,140.0,5.1,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390756,2019-01-01
1,720735,73805,2019-01-01 00:39:00,30.349,-85.788,21.0,150.0,5.7,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390757,2019-01-01
2,720735,73805,2019-01-01 00:53:00,30.349,-85.788,21.0,150.0,4.6,21.1,1019.5,...,0.0,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390758,2019-01-01
3,720735,73805,2019-01-01 01:01:00,30.349,-85.788,21.0,150.0,4.6,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390759,2019-01-01
4,720735,73805,2019-01-01 01:53:00,30.349,-85.788,21.0,140.0,4.1,21.1,1019.6,...,0.0,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390760,2019-01-01

### Create a dataset from pandas dataframe

In [53]:
from azureml.core import Workspace, Datastore, Dataset
import pandas as pd

pandas_df = pd.read_csv('https://ml.azure.com/fileexplorerAzNB?wsid=/subscriptions/fe38c376-b42a-4741-9e7c-f5d7c31e5873/resourcegroups/ProdRG/providers/Microsoft.MachineLearningServices/workspaces/Prod&tid=16b3c013-d300-468d-ac64-7eda0820b6d3&activeFilePath=Users/yelizkilinc/automl-workshop/Data%20Basics/workshop_examples/Data/inference_data')

datastore = Datastore.get(ws, 'workspaceblobstore')
dataset = Dataset.Tabular.register_pandas_dataframe(pandas_df, datastore, "dataset_from_pandas_df", show_progress=True)
dataset.take(3).to_pandas_dataframe()

Validating arguments.
Arguments validated.
Successfully obtained datastore reference and path.
Uploading file to managed-dataset/df416d89-5001-493c-9301-86bbb57c81a7/
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: '<!doctype html><html lang="en" class="notranslate" translate="no"><head><meta charset="utf-8"/><meta name="Description" content="Azure Machine Learning Studio is a GUI-based integrated development environment for constructing and operationalizing Machine Learning workflow on Azure."/><link rel="shortcut icon" href="/favicon.ico"/><title>Microsoft Azure Machine Learning Studio</title><script>window.App_Version="WorkspacePortal-2022-Oct-10-2022-10-13.1"' -> '<!doctype html><html lang="en" class="notranslate" translate="no"><head><meta charset="utf-8"/><meta name="Description" content="Azure Machine Learning Studio is a GUI-based integrated development environment for constructing and operationalizing Machine Learning workflow on Azure_"/><link rel="shortcut icon" href="/favicon_ico"/><title>Microsoft Azure Machine Learning Studio</title><script>window_App_Version="WorkspacePortal-2022-Oct-10-2022-10-13_1"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'window.App_Region="uksouth"' -> 'window_App_Region="uksouth"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'window.Cloud_Api_Host="uksouth.api.azureml.ms"' -> 'window_Cloud_Api_Host="uksouth_api_azureml_ms"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'window.App_InstrumentationKey="##APPINSIGHTS_INSTRUMENTATIONKEY##"</script><script>try{const e=performance.now()' -> 'window_App_InstrumentationKey="##APPINSIGHTS_INSTRUMENTATIONKEY##"</script><script>try{const e=performance_now()'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 't=indexedDB.open("keyval-store");t.onupgradeneeded=()=>t.result.createObjectStore(storeName)' -> 't=indexedDB_open("keyval-store");t_onupgradeneeded=()=>t_result_createObjectStore(storeName)'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 't.onsuccess=t=>{t.target.result.transaction("keyval"' -> 't_onsuccess=t=>{t_target_result_transaction("keyval"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'readonly).objectStore("keyval").get("REACT_QUERY_OFFLINE_CACHE").onsuccess=t=>{try{window.InitialReactQueryCacheData=JSON.parse(t.target.result||"{}")' -> 'readonly)_objectStore("keyval")_get("REACT_QUERY_OFFLINE_CACHE")_onsuccess=t=>{try{window_InitialReactQueryCacheData=JSON_parse(t_target_result||"{}")'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'console.log(`React query cache restored in ${performance.now()-e} ms`)}catch{}}}}catch{}</script><link href="/static/css/styles.a63385fc.chunk.css" rel="stylesheet"></head><body id="mlworkspace"><div id="root"></div><script>!function(e){function a(a){for(var b' -> 'console_log(`React query cache restored in ${performance_now()-e} ms`)}catch{}}}}catch{}</script><link href="/static/css/styles_a63385fc_chunk_css" rel="stylesheet"></head><body id="mlworkspace"><div id="root"></div><script>!function(e){function a(a){for(var b'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'u=[];p<o.length;p++)r=o[p]' -> 'u=[];p<o_length;p++)r=o[p]'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'Object.prototype.hasOwnProperty.call(f' -> 'Object_prototype_hasOwnProperty_call(f'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'r)&&f[r]&&u.push(f[r][0])' -> 'r)&&f[r]&&u_push(f[r][0])'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'f[r]=0;for(b in n)Object.prototype.hasOwnProperty.call(n' -> 'f[r]=0;for(b in n)Object_prototype_hasOwnProperty_call(n'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 't.push.apply(t' -> 't_push_apply(t'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'i);u.length;)u.shift()();return d.push.apply(d' -> 'i);u_length;)u_shift()();return d_push_apply(d'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'a=0;a<d.length;a++){for(var c=d[a]' -> 'a=0;a<d_length;a++){for(var c=d[a]'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'n=1;n<c.length;n++){var s=c[n];0!==f[s]&&(b=!1)}b&&(d.splice(a--' -> 'n=1;n<c_length;n++){var s=c[n];0!==f[s]&&(b=!1)}b&&(d_splice(a--'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'e=o(o.s=c[0]))}return 0===d.length&&(t.forEach((function(e){if(void 0===f[e]){f[e]=null;var a=document.createElement("link");o.nc&&a.setAttribute("nonce"' -> 'e=o(o_s=c[0]))}return 0===d_length&&(t_forEach((function(e){if(void 0===f[e]){f[e]=null;var a=document_createElement("link");o_nc&&a_setAttribute("nonce"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.nc)' -> 'o_nc)'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'a.rel="prefetch"' -> 'a_rel="prefetch"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'a.as="script"' -> 'a_as="script"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'a.href=r(e)' -> 'a_href=r(e)'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'document.head.appendChild(a)}}))' -> 'document_head_appendChild(a)}}))'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 't.length=0)' -> 't_length=0)'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 't=[];function r(e){return o.p+"static/js/"+({2:"monacoeditor"' -> 't=[];function r(e){return o_p+"static/js/"+({2:"monacoeditor"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: '472:"visualInterface-home-data-provider"}[e]||e)+"."+{2:"688f9992"' -> '472:"visualInterface-home-data-provider"}[e]||e)+"_"+{2:"688f9992"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: '2102:"cbb606e3"}[e]+".chunk.js"}function o(a){if(b[a])return b[a].exports;var c=b[a]={i:a' -> '2102:"cbb606e3"}[e]+"_chunk_js"}function o(a){if(b[a])return b[a]_exports;var c=b[a]={i:a'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'exports:{}};return e[a].call(c.exports' -> 'exports:{}};return e[a]_call(c_exports'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'c.exports' -> 'c_exports'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'c.l=!0' -> 'c_l=!0'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'c.exports}o.e=function(e){var a=[]' -> 'c_exports}o_e=function(e){var a=[]'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'c=f[e];if(0!==c)if(c)a.push(c[2]);else{var b=new Promise((function(a' -> 'c=f[e];if(0!==c)if(c)a_push(c[2]);else{var b=new Promise((function(a'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'b]}));a.push(c[2]=b);var d=new Error' -> 'b]}));a_push(c[2]=b);var d=new Error'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'n=document.createElement("script")' -> 'n=document_createElement("script")'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 's="&retry-attempt="+(3-b+1);n.charset="utf-8"' -> 's="&retry-attempt="+(3-b+1);n_charset="utf-8"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'n.timeout=120' -> 'n_timeout=120'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.nc&&n.setAttribute("nonce"' -> 'o_nc&&n_setAttribute("nonce"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.nc).1' -> 'o_nc)_1'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'n.src=c' -> 'n_src=c'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 't=function(c){n.onerror=n.onload=null' -> 't=function(c){n_onerror=n_onload=null'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'clearTimeout(i);var t=f[e];if(0!==t)if(t)if(0===b){var o=c&&("load"===c.type?"missing":c.type)' -> 'clearTimeout(i);var t=f[e];if(0!==t)if(t)if(0===b){var o=c&&("load"===c_type?"missing":c_type)'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'l=c&&c.target&&c.target.src;d.message="Loading chunk "+e+" failed after 3 retries.\n("+o+": "+l+")"' -> 'l=c&&c_target&&c_target_src;d_message="Loading chunk "+e+" failed after 3 retries_\n("+o+": "+l+")"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'd.name="ChunkLoadError"' -> 'd_name="ChunkLoadError"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'd.type=o' -> 'd_type=o'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'd.request=l' -> 'd_request=l'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'window.chunkLoadFailed=!0;const a=new URL(window.location.href)' -> 'window_chunkLoadFailed=!0;const a=new URL(window_location_href)'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'b=a.searchParams.get("reloadCount")' -> 'b=a_searchParams_get("reloadCount")'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'r=b?parseInt(b):0;r<3&&(a.searchParams.set("reloadCount"' -> 'r=b?parseInt(b):0;r<3&&(a_searchParams_set("reloadCount"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'window.location=a)' -> 'window_location=a)'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'b-1);document.head.appendChild(u)}else f[e]=void 0};var i=setTimeout((function(){t({type:"timeout"' -> 'b-1);document_head_appendChild(u)}else f[e]=void 0};var i=setTimeout((function(){t({type:"timeout"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: '12e4);return n.onerror=n.onload=t' -> '12e4);return n_onerror=n_onload=t'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: '3);document.head.appendChild(t)}var n={446:[0' -> '3);document_head_appendChild(t)}var n={446:[0'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: '449]}[e];return n&&n.forEach((function(e){if(void 0===f[e]){f[e]=null;var a=document.createElement("link");a.charset="utf-8"' -> '449]}[e];return n&&n_forEach((function(e){if(void 0===f[e]){f[e]=null;var a=document_createElement("link");a_charset="utf-8"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.nc&&a.setAttribute("nonce"' -> 'o_nc&&a_setAttribute("nonce"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.nc).2' -> 'o_nc)_2'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'a.rel="preload"' -> 'a_rel="preload"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'a.as="script".1' -> 'a_as="script"_1'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'a.href=r(e).1' -> 'a_href=r(e)_1'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'document.head.appendChild(a)}})).1' -> 'document_head_appendChild(a)}}))_1'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'Promise.all(a)}' -> 'Promise_all(a)}'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.m=e' -> 'o_m=e'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.c=b' -> 'o_c=b'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.d=function(e' -> 'o_d=function(e'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'c){o.o(e' -> 'c){o_o(e'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'a)||Object.defineProperty(e' -> 'a)||Object_defineProperty(e'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'a.1' -> 'a_1'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e' -> 'o_r=function(e){"undefined"!=typeof Symbol&&Symbol_toStringTag&&Object_defineProperty(e'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'Symbol.toStringTag' -> 'Symbol_toStringTag'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'Object.defineProperty(e' -> 'Object_defineProperty(e'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.t=function(e' -> 'o_t=function(e'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: '8&a)return e;if(4&a&&"object"==typeof e&&e&&e.__esModule)return e;var c=Object.create(null);if(o.r(c)' -> '8&a)return e;if(4&a&&"object"==typeof e&&e&&e___esModule)return e;var c=Object_create(null);if(o_r(c)'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'Object.defineProperty(c' -> 'Object_defineProperty(c'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: '{enumerable:!0.1' -> '{enumerable:!0_1'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: '2&a&&"string"!=typeof e)for(var b in e)o.d(c' -> '2&a&&"string"!=typeof e)for(var b in e)o_d(c'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'function(a){return e[a]}.bind(null' -> 'function(a){return e[a]}_bind(null'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.n=function(e){var a=e&&e.__esModule?function(){return e.default}:function(){return e};return o.d(a' -> 'o_n=function(e){var a=e&&e___esModule?function(){return e_default}:function(){return e};return o_d(a'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'a.2' -> 'a_2'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.o=function(e' -> 'o_o=function(e'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'a){return Object.prototype.hasOwnProperty.call(e' -> 'a){return Object_prototype_hasOwnProperty_call(e'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.p="/"' -> 'o_p="/"'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'o.oe=function(e){throw console.error(e)' -> 'o_oe=function(e){throw console_error(e)'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 's=n.push.bind(n);n.push=a' -> 's=n_push_bind(n);n_push=a'
Column header contains '.' This period will be translated to '_' as we write the data out to parquet files: 'n=n.slice();for(var i=0;i<n.length;i++)a(n[i]);var l=s;c()}([])</script><script src="/static/js/styles.165f4c27.chunk.js"></script><script src="/static/js/fluentui.1cdbe1d8.chunk.js"></script><script src="/static/js/react.589c0d93.chunk.js"></script><script src="/static/js/index.2af38d3b.chunk.js"></script></body></html>' -> 'n=n_slice();for(var i=0;i<n_length;i++)a(n[i]);var l=s;c()}([])</script><script src="/static/js/styles_165f4c27_chunk_js"></script><script src="/static/js/fluentui_1cdbe1d8_chunk_js"></script><script src="/static/js/react_589c0d93_chunk_js"></script><script src="/static/js/index_2af38d3b_chunk_js"></script></body></html>'
Successfully uploaded file to datastore.
Creating and registering a new dataset.

DatasetValidationError: DatasetValidationError:
	Message: Failed to validate the data.
The Dataflow produced no records.| session_id=995f453d-1638-4dc7-9737-8fa9d8296a51
	InnerException None
	ErrorResponse
{
    "error": {
        "code": "UserError",
        "message": "Failed to validate the data.\nThe Dataflow produced no records.| session_id=995f453d-1638-4dc7-9737-8fa9d8296a51"
    }
}

Method filter: This is an experimental method, and may change at any time. Please see https://aka.ms/azuremlexperimental for more information.

,usaf,wban,datetime,latitude,longitude,elevation,windAngle,windSpeed,temperature,seaLvlPressure,...,precipDepth,snowDepth,stationName,countryOrRegion,p_k,year,day,version,__index_level_0__,partition_time
2019-01-01 00:00:00,720735,73805,2019-01-01 00:00:00,30.349,-85.788,21.0,140.0,5.1,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390756,2019-01-01
2019-01-01 00:39:00,720735,73805,2019-01-01 00:39:00,30.349,-85.788,21.0,150.0,5.7,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390757,2019-01-01
2019-01-01 00:53:00,720735,73805,2019-01-01 00:53:00,30.349,-85.788,21.0,150.0,4.6,21.1,1019.5,...,0.0,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390758,2019-01-01
2019-01-01 01:01:00,720735,73805,2019-01-01 01:01:00,30.349,-85.788,21.0,150.0,4.6,21.1,NaN,...,NaN,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390759,2019-01-01
2019-01-01 01:53:00,720735,73805,2019-01-01 01:53:00,30.349,-85.788,21.0,140.0,4.1,21.1,1019.6,...,0.0,NaN,NORTHWEST FLORIDA BEACHES INTL ARPT,US,720735-73805,2019,1,1.0,2390760,2019-01-01

## **Create File Dataset **

Use from_files() method to load files in any format and create un registered filedataset.

In [27]:
#Represents a collection of file references in datastores or public URLs to use in Azure Machine Learning.

from azureml.core.dataset import Dataset

web_paths = [
            'http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz',
            'http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz',
            'http://yann.lecun.com/exdb/mnist/t10k-images-idx3-ubyte.gz',
            'http://yann.lecun.com/exdb/mnist/t10k-labels-idx1-ubyte.gz'
            ]

mnist_ds = Dataset.File.from_files(path = web_paths)
mnist_ds.to_path() # list the files

['/http%3A/%2Fyann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz',
 '/http%3A/%2Fyann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz',
 '/http%3A/%2Fyann.lecun.com/exdb/mnist/t10k-images-idx3-ubyte.gz',
 '/http%3A/%2Fyann.lecun.com/exdb/mnist/t10k-labels-idx1-ubyte.gz']

In [28]:

mnist_file_dataset = mnist_ds.register(workspace=ws,
                                        name='mnist_opendataset',
                                        description='mnist training and test dataset',
                                        create_new_version=True)

In [18]:
#Create dataset from datastore

{
  "source": [
    "http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz",
    "http://yann.lecun.com/exdb/mnist/train-labels-idx1-ubyte.gz",
    "http://yann.lecun.com/exdb/mnist/t10k-images-idx3-ubyte.gz",
    "http://yann.lecun.com/exdb/mnist/t10k-labels-idx1-ubyte.gz"
  ],
  "definition": [
    "GetFiles"
  ]
}

In [ ]:
#Access registered filedataset

In [ ]:
# ??? Create adls gen2 storage ??
'''# Create Azure Data Lake Storage Gen2 datastore without credentials.
adls2_dstore = Datastore.register_azure_data_lake_gen2(workspace=ws, 
                                                       datastore_name='credentialless_adls2', 
                                                       filesystem='tabular', 
                                                       account_name='myadls2')'''

In [ ]:
# retrieve an existing datastore in the workspace by name 
dstore = Datastore.get(workspace, datastore_name) 
print(dstore)